<%- include('layout/head', {judul: 'CPMK'}) %>
<div class="d-block mb-4 mb-md-0">
    <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item">
                <a href="/dosen">
                    <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6">
                        </path>
                    </svg>
                </a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen">RPS Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/detail-<%=rps.id %>">Detail Mata kuliah</a>
            </li>
            <li class="breadcrumb-item">
                <a href="/dosen/detail-<%=rps.id %>/revisi">Revisi</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">CPMK</li>
        </ol>
    </nav>
    <h2 class="h2">CPMK Matakuliah</h2>

            <section class="section">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"><%=rps.name %></h4>
                    </div>
                <div class="card-body">
                    <!-- Button Modal -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#tambah-cpmk" style="float: right;" >Tambah</button>
                <form action="/dosen/tambahcpmk" method="post">
                <!-- Modal Content -->
                <div class="modal fade" id="tambah-cpmk" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2 class="h6 modal-title">Tambah Referensi</h2>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <input type="hidden" name="course_plan_id" value="<%= rps.id %>">
                                <input type="hidden" name="type" value="1">
                                <input type="hidden" name="parent_id" value="1">
                                <!-- <input type="hidden" name="parent_id" value="1"> -->
                                <label>Kode </label>
                                <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Kode" name="code" required>
                                </div>
                                <label>Name </label>
                                <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Nama" name="name" required>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary">Tambah</button>
                                <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                            </div>
                        </form>
                        </div>
                    
                </div>
            </div><br>
                    <label for="table-responsive">Tabel Referensi</label>
                    <div class="table-responsive" name="table-responsive">
                        <table class="table table-centered table-nowrap mb-0 rounded">
                            <thead class="thead-light">
                                <tr>
                                    <th hidden>No</th>
                                    <th class="border-0 rounded-start">Code</th>
                                    <th class="border-0">Name</th>
                                    <th class="border-0 rounded-end">Aksi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% cpmk.forEach((cc, index) => { %>
                                <tr>
                                    <td hidden><%=index+1%></td>
                                    <td class="border-0"><%= cc.code %>  </td>
                                    <td class="border-0 font-weight-bold"><%= cc.name %></td>
                                    
                                    <td class="border-0 font-weight-bold">
                                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit<%=index+1%>">Edit</button>
                                        <!-- Modal Content -->
                                        <div class="modal fade" id="edit<%=index+1%>" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h2 class="h6 modal-title">Edit Referensi</h2>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <form action="/dosen/editcpmk" method="post">
                                                    <div class="modal-body">
                                                        <input type="hidden" name="id" value="<%= cc.id %>">
                                                        <label>Kode </label>
                                                        <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="<%= cc.code %>" name="code" required>
                                                        </div>
                                                        <label>Nama </label>
                                                        <div class="input-group mb-3">
                                                        <input type="text" class="form-control" placeholder="<%= cc.name %>" name="name" required>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Edit</button>
                                                        <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Tutup</button>
                                                    </div>
                                                </form>
                                                </div>
                                            
                                        </div>
                                    </div>
                                            <button type="button" class="btn btn-danger box" data-bs-toggle="modal" data-bs-target="#hapus<%=index+1%>">Hapus</button>
                                                        <div class="modal fade" id="hapus<%=index+1%>" tabindex="-1" role="dialog" aria-labelledby="modal-default" aria-hidden="true">
                                                            <div class="modal-dialog modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h2 class="h6 modal-title">Peringatan!</h2>
                                                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                    </div>
                                                                    <form action="/dosen/hapuscpmk" method="post">
                                                                        <div class="modal-body">
                                                                            <p>Apakah Anda Yakin ingin Menghapus?</p>
                                                                            <input type="hidden" name="id" value="<%=cc.id%>">
                                                                            <input type="hidden" name="parent_id" value="<%=cc.parent_id%>">
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="submit" class="btn btn-danger">Hapus</button>
                                                                            <button type="button" class="btn btn-link text-gray ms-auto" data-bs-dismiss="modal">Batal</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    
                                    </td>
                                </tr>
                                <% })%>
                            </tbody>
                        </table>
                    </div>
                    </div>
                        

<%- include('layout/foot') %>